<!DOCTYPE html>
<html>
    <head>
        <title>
            About us
        </title>
        <link rel="icon" href="/images/logo-white.png">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <div class="corner-light2-about-us-page"></div>
        <script src="/js/code.js" defer></script>
        <section class="layout">

            <div class="header">
                <img src="/images/logo-white.png" alt="Logo" class="logo">
                <nav>
                    <ul class="menu">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about-us"id="selected-menu">About Us</a></li>
                        <li><a href="/contact" >Contacts</a></li>
                        <li><a href="/settings">Settings</a></li>
                    </ul>
                </nav>
            </div>

            <div class="main">
                <div class="form-wrapper">
                    <div class="logo-container">
                    </div>
                    <section class="about-section">
                    <div class="hero">
                        <p class="paragrafo-aboutus">
                        👋 Hello! We are a group of four 18-year-old students from Italy, currently studying Computer Science.  
                        We share a strong passion for technology, programming, and digital innovation — which inspired us to create this website.  
                        </p>
                        <p class="paragrafo-aboutus">
                        Our platform guarantees <strong>100% privacy</strong>, not only from outsiders but also from us, the developers.  
                        We assure full security and privacy: no hardware IDs, IP addresses, or other traceable information are ever stored.  
                        </p>
                        <p class="paragrafo-aboutus">
                        This service is completely free to use, anytime and anywhere.  
                        The project is <strong>entirely self-funded</strong>, with all code written solely by our team.  
                        We also provide <strong>full transparency</strong> on server and domain costs.  
                        <p class="paragrafo-aboutus">
                        <br><br>    
                        <div class="donation-box">
                        <p class="paragrafo-aboutus"><strong>
                            💡 The cost of keeping the servers online is in euros.  
                            If you’d like to support and contribute to the upkeep of this project, we’d REALLY appreciate it.  <br><br>
                            <br>Thank you ❤️
                        </strong></p>
                        
                        <div class="donation-details">
                            <p class="paragrafo-aboutus"><strong>Bitcoin Address:</strong> bc1qlhk33yz68vuw746ct2wa00wsfgq5p36ehu74xu</p>
                            <p class="paragrafo-aboutus"><strong>PayPal Address:</strong> xxx</p>
                        </div>
                        </div>
                        <br><br>
                        <div class="contact-box">
                        <p class="paragrafo-aboutus"><strong>📩 For any issues regarding legal matters, please redirect <a href="/contact" style="font-size: larger;">here</a></strong></p>
                        <!-- <ul>
                            <br>
                            <li class="paragrafo-aboutus">Ciprian – <a href="mailto:private-ciprian@proton.me">private-ciprian@proton.me</a></li>
                        </ul> -->
                        </div>
                    </div>
                    </section>

                </div>


            </div>
            <div class="footer">
                <p id="version-getter">customerhelp-feup@protonmail.com</p>
                
                <div id="container-logo">
                    <a href="#"><img src="/images/instagram-logo.png" alt="logo" class="footer-logos"></a>
                    <a href="https://discord.gg/hvpJrx2tK7"><img src="/images/discord-logo.webp" alt="logo" class="footer-logos"></a>
                    <a href="#"><img src="/images/telegram-white.webp" alt="logo" class="footer-logos"></a>
                </div>
            </div>
        </section>
    </body>
</html>