<!DOCTYPE html>
<html>
    <head>
        <title>
            Contacts
        </title>
        <link rel="icon" href="/images/logo-white.png">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/style-contact.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    </head>
    <body style="overflow:visible ;">
        <div class="corner-light2-about-us-page"></div>
        <section class="layout">
            <div class="header">
                <img src="/images/logo-white.png" alt="Logo" class="logo">
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/contact" id="selected-menu">Contacts</a>
                        </li>
                        <li>
                            <a href="/settings">Settings</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="main">
                <div class="features">
                    <div class="feature">
                        <i class="fa-solid fa-lock"></i>
                        <h3 class="shiny-ahh-text">Ciprian</h3>
                        <p>Developer</p><br>
                        <p>Contact for legal matters:</p>
                        <p class="shiny-ahh-text">private-ciprian@proton.me</p>
                    </div>
                    <div class="feature">
                        <i class="fa-solid fa-user-shield"></i>
                        <h3 class="shiny-ahh-text">MasterMatt</h3>
                        <p>Social Media Manager</p><br>
                        <p class="shiny-ahh-text">test@test.com</p>
                        <a href="https://discord.gg/hvpJrx2tK7"><img src="/images/discord-logo.webp" class="footer-logos2"></a>
                        <a href="https://discord.gg/hvpJrx2tK7"><img src="/images/instagram-logo.png" class="footer-logos2"></a>
                        <a href="https://discord.gg/hvpJrx2tK7"><img src="/images/telegram-white.webp" class="footer-logos2"></a>
                    </div>
                    <div class="feature">
                        <i class="fa-solid fa-bolt"></i>
                        <h3 class="shiny-ahh-text">Pietro</h3>
                        <p>Ah bho, non so cosa ha fatto</p>
                        <br>
                        <p class="shiny-ahh-text">test@test</p>

                    </div>
                    <div class="feature">
                        <i class="fa-solid fa-bolt"></i>
                        <h3 class="shiny-ahh-text">Filippo</h3>
                        <p>Developer</p>
                        <br>
                        <p class="shiny-ahh-text">test@test</p>

                    </div>
                    <section class="hero2">
                        <h1 class="shiny-ahh-text">
                            customerhelp-feup@protonmail.com
                            <span id="city-loop"></span>
                        </h1>
                        <p class="tagline">
                            <b class="shiny-ahh-text"></b>For issues related to customer support:</p>
                        <p>Website problems (e.g., login errors, broken links, payment issues)</p>
                        <p>Billing & payments (invoices, refunds, overcharges)</p>
                        <p>Product or service support (technical issues, troubleshooting)</p>
                        <p>Partnerships & collaborations</p>
                        <p>Media & press inquiries</p>
                        <p>Privacy & data protection concerns</p>
                        <p>Feedback & complaints</p>
                    </p>

                </section>
            </div>

        </div>
    </body>
</html></section><div class="logo-container" style="top:60vh;">
<img src="/images/euoutline.png" alt="Logo" class="logo-immagine"></div><script src="/js/code-contacts.js"></script></body></html>
