<!DOCTYPE html>
<html>
    <head>
        <title>
            Forgot Passsword
        </title>
        <link rel="icon" href="/images/logo-white.png">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/style-forgotpassword.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <div class="corner-light"></div>
        <script src="/js/logo-container-resize.js" defer></script>
        <section class="layout">

            <div class="header">
                <img src="/images/logo-white.png" alt="Logo" class="logo">
                <nav>
                    <ul class="menu">
                        <li><a href="/home">Chat</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contacts" id="selected-menu">Contacts</a></li>
                        <li><a href="/settings">Settings</a></li>
                    </ul>
                </nav>
            </div>

            <div class="main">
                <div id="Box ">
                    <form>
                        <p>CONTACT AT<br><br> customerhelp-feup@protonmail.com</p>
                        <a href="/login">Return to the Log-In page</a>
                    </form>
                </div>
            </div>

            <div class="footer">
                <p>customerhelp-feup@protonmail.com</p>
                
                <div id="container-logo">
                    <a href="#"><img src="images/instagram-logo.png" alt="logo" class="footer-logos"></a>
                    <a href="https://discord.gg/hvpJrx2tK7"><img src="images/discord-logo.webp" alt="logo" class="footer-logos"></a>
                    <a href="#"><img src="images/telegram-white.webp" alt="logo" class="footer-logos"></a>
                </div>
            </div>
        </section>
                                      <div class="logo-container">
                    <img src="/images/euoutline.png" alt="Logo" class="logo-immagine">
                    </div>
    </body>
</html>